ADMIN_NODES=(hibari1 hibari2 hibari3)
BRICK_NODES=(hibari1 hibari2 hibari3 hibari4 hibari5 hibari6)
BRICKS_PER_CHAIN=3

ALL_NODES=(hibari1 hibari2 hibari3 hibari4 hibari5 hibari6)
ALL_NETA_ADDRS=("")
ALL_NETB_ADDRS=("")
ALL_NETA_BCAST=""
ALL_NETB_BCAST=""

ALL_NETA_TIEBREAKER=""

ALL_HEART_UDP_PORT="63099"
ALL_HEART_XMIT_UDP_PORT="63100"
